p {font-size: 17px;
}
td {text-align: center; }
/* figcaption {text-align: center; position: inherit;} */
ul {font-size: 17px;}
ol {font-size: 17px;}
th:nth-child(3), td:nth-child(3){border-right: 2px solid #ddd}
/* table {border-style:solid; } */
/* .table-a */
 table{border: 2px solid #ddd}

 .jumbotron {
    background: url('../images/background4.jpg');
    margin-top: 50px;
    margin-bottom: 20px;
    /*min-height: 300px;*/
    /* filter:alpha(opacity=60); */
    /* opacity: 0.6; */
  }
.news{
    color:red;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}